{% extends 'base.html' %}

{% block title %}
Bioinformatizado
{% endblock %}

{% block content %}

<div class="d-flex flex-column col-lg-8 col-md-10 mx-auto"></div>

    {% include 'messages.html'%}

    {% for post in object_list %}
        {% if post.status == "publicado"%}

            <div class="post-preview">
                <a href='{{post.get_absolute_url}}'>
                    <h2 class="post-title">{{post.title}}</h2>
                    <h3 class="post-subtitle">{{post.content|striptags|safe|truncatechars:"200"}}</h3>
                </a>
                <a href='#' class='font-weight-bold'>
                        {% for category in post.category.all %}
                            {{category.name}}
                        {% endfor %}
                    </a>
                <p class="post-meta">Postado por <a href="#">{{post.author.first_name}}</a> em {{post.published}}</p>
            </div>
            <hr>

        {% endif %}
    {% endfor %}
</div>
<div class="clearfix">
    <a class="btn btn-primary float-right" href="#">Postagens mais antigas &rarr;</a>
</div>
{% endblock content %}