{% extends 'base.html' %}

{% block title %}
{{object.title}}
{% endblock %}

{% block imgurl %}
style="background-image: url({% if object.image %}
                              {{object.image.url}}
                              {% else %}
                              {% load static %}
                              {% static 'img/home-gb.jpg' %}
                              {% endif %})"
{% endblock imgurl %}

{% block pagetitle %}
<h1>{{object.title}}</h1>
{% endblock %}



{% block content %}
<div class='container'>
    {% include 'messages.html'%}
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <a href='#' class='font-weight-bold'>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        {% for category in object.category.all %}
                            <a href='{{ category.get_absolute_url }}'>
                                <button type="button" class="btn btn-primary">{{category.name}}</button>
                            </a>
                        {% endfor %}
                        </div>
                    </a>
                    <p>{{object.content|safe}}</p>
                </div>
            </div>
            <hr>    
            <div class='row'>
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p class='font-weight-bold'>Postado por {{object.author.first_name}}</p>                
                </div>
            </div>
        </div>
    </article>
    
    <hr>
    {% if user.is_superuser %}
    <div class="btn-group d-flex justify-content-around" role="group" aria-label="Basic example">
        <a href="{{ object.get_absolute_url_update }}">
            <button type="button" class="btn btn-primary">Editar</button>
        </a>
        <a href="{{ object.get_absolute_url_delete }}">
            <button type="button" class="btn btn-danger">Deletar</button>
        </a>
    </div>
    {% endif %}
</div>
{% endblock content %}